<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
<head itemscope="" itemtype="http://schema.org/WebSite">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />

	











<meta charset="utf-8" />
<meta name="Author" content="Apple Inc." />
<link rel="canonical" href="http://www.apple.com/" />

	
<meta name="viewport" content="width=device-width, initial-scale=1" />

	
	<link rel="stylesheet" type="text/css" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/ac/GlobalNav/styles/ac-globalnav.built.css" />
	<link rel="stylesheet" type="text/css" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/ac/GlobalFooter/en_US/styles/ac-globalfooter.built.css" />
	<link rel="stylesheet" type="text/css" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/ac/LocalNav/ac-localnav.built.css" />


	

	
	

	
		
	

	
	<title itemprop="name">Apple</title>
	<meta property="analytics-track" content="Apple - Index/Tab" />
	<meta property="analytics-s-channel" content="homepage" />
<meta property="analytics-s-bucket-0" content="appleglobal,applehome" />
<meta property="analytics-s-bucket-1" content="apple{COUNTRY_CODE}global,apple{COUNTRY_CODE}home" />
<meta property="analytics-s-bucket-2" content="apple{COUNTRY_CODE}global" />


	<meta name="Description" content="Apple leads the world in innovation with iPhone, iPad, Mac, Apple Watch, iOS, OS X, watchOS and more. Visit the site to learn, buy, and get support." />
	<meta property="og:url" content="http://www.apple.com/" />
	
	<meta property="og:image" content="http://images.apple.com/home/images/og.jpg?201507310104" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Apple" />
	<link itemprop="url" href="http://www.apple.com/" />
	<link rel="home" href="http://www.apple.com/" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://images.apple.com/main/rss/hotnews/hotnews.rss" />
	<link rel="index" href="http://www.apple.com/sitemap/" />
	<link rel="stylesheet" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Fonts/MyriadSet" type="text/css" media="all" />
	<link rel="stylesheet" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Home/styles/home.built.css" type="text/css" />
	<link rel="stylesheet" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Styles/home.css" type="text/css" />
	<link rel="stylesheet" href="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Styles/promos.css" type="text/css" />
	<script src="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Home/scripts/head.built.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="page-home">
	<aside id="ac-gn-segmentbar" class="ac-gn-segmentbar" data-strings="{ 'exit': 'Exit', 'view': '{%STOREFRONT%} Store Home', 'segments': { 'smb': 'Business Store Home', 'eduInd': '', 'other': 'Store Home' } }"></aside>
<input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate" />
<nav id="ac-globalnav" class="no-js" role="navigation" aria-label="Global Navigation" data-hires="false" data-analytics-region="global nav" lang="en-US" data-store-key="SFX9YPYY9PPXCU9KH" data-store-locale="us" data-store-api="/[storefront]/shop/bag/status" data-search-locale="en_US" data-search-api="/search-services/suggestions/">
	<div class="ac-gn-content">
		<ul class="ac-gn-header">
			<li class="ac-gn-item ac-gn-menuicon">
				<label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true"> <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span> </span> <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
						<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span> </span>
				</label>
				<a href="#ac-gn-menustate" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open"> <span class="ac-gn-menuanchor-label">Open Menu</span> </a>
				<a href="#" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close"> <span class="ac-gn-menuanchor-label">Close Menu</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="/" data-analytics-title="apple home" id="ac-gn-firstfocus-small"> <span class="ac-gn-link-text">Apple</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-bag ac-gn-bag-small" id="ac-gn-bag-small">
				<a class="ac-gn-link ac-gn-link-bag" href="/us/shop/goto/bag" data-analytics-title="bag" aria-label="Bag" data-string-badge="Shopping Bag with Items"> <span class="ac-gn-link-text">Bag</span> <span class="ac-gn-bag-badge" aria-hidden="true"></span> </a> <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span> </li>
		</ul>
		<ul class="ac-gn-list">
			<li class="ac-gn-item ac-gn-apple">
				<a class="ac-gn-link ac-gn-link-apple" href="/" data-analytics-title="apple home" id="ac-gn-firstfocus"> <span class="ac-gn-link-text">Apple</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
				<a class="ac-gn-link ac-gn-link-mac" href="/mac/" data-analytics-title="mac"> <span class="ac-gn-link-text">Mac</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-ipad">
				<a class="ac-gn-link ac-gn-link-ipad" href="/ipad/" data-analytics-title="ipad"> <span class="ac-gn-link-text">iPad</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-iphone">
				<a class="ac-gn-link ac-gn-link-iphone" href="/iphone/" data-analytics-title="iphone"> <span class="ac-gn-link-text">iPhone</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-watch">
				<a class="ac-gn-link ac-gn-link-watch" href="/watch/" data-analytics-title="watch"> <span class="ac-gn-link-text">Watch</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-music">
				<a class="ac-gn-link ac-gn-link-music" href="/music/" data-analytics-title="music"> <span class="ac-gn-link-text">Music</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-support">
				<a class="ac-gn-link ac-gn-link-support" href="/support/" data-analytics-title="support"> <span class="ac-gn-link-text">Support</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
				<a class="ac-gn-link ac-gn-link-search" href="/us/search" data-analytics-title="search" aria-label="Search apple.com"> <span class="ac-gn-search-placeholder" aria-hidden="true">Search apple.com</span> </a>
			</li>
			<li class="ac-gn-item ac-gn-bag" id="ac-gn-bag">
				<a class="ac-gn-link ac-gn-link-bag" href="/us/shop/goto/bag" data-analytics-title="bag" aria-label="Bag" data-string-badge="Shopping Bag with Items"> <span class="ac-gn-link-text">Bag</span> <span class="ac-gn-bag-badge" aria-hidden="true"></span> </a> <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span> </li>
		</ul>
		<aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
			<div class="ac-gn-searchview-content">
				<form id="ac-gn-searchform" class="ac-gn-searchform" action="/us/search" method="get">
					<div class="ac-gn-searchform-wrapper">
						<input id="ac-gn-searchform-input" class="ac-gn-searchform-input" type="text" placeholder="Search apple.com" data-placeholder-long="Search for Products, Stores, and Help" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" />
						<input id="ac-gn-searchform-src" type="hidden" name="src" value="globalnav" />
						<button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled aria-label="Submit"></button>
						<button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled aria-label="Clear Search"></button>
					</div>
				</form>
				<aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Quick Links" data-string-suggestions="Suggested Searches" data-string-noresults="Hit enter to search."></aside>
			</div>
			<button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Close Search"> <span class="ac-gn-searchview-close-left"></span> <span class="ac-gn-searchview-close-right"></span> </button>
		</aside>
		<aside class="ac-gn-bagview" data-analytics-region="bag">
			<div class="ac-gn-bagview-scrim"> <span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span> </div>
			<div class="ac-gn-bagview-content" id="ac-gn-bagview-content"> </div>
		</aside>
	</div>
</nav>
<div id="ac-gn-curtain" class="ac-gn-curtain"></div>
<div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>

<script type="text/javascript" src="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/ac/GlobalNav/scripts/ac-globalnav.built.js"></script>

	<script src="http://images.apple.com/metrics/ac-analytics/1.0/scripts/ac-analytics.js" type="text/javascript" charset="utf-8"></script>
	

<article class="hero-slides evergreen" id="hero-gallery">

	
	
	
	

	
	<section class="gallery-content gallery-content-apple-music" id="gallery-content-apple-music">

		<div class="hero-content">

			<a class="backing-link" href="/music/" data-analytics-click="prop3:/music/,prefix:h"></a>

				<div class="copy">

					<div class="copy-inner">

		<h1>Apple Music</h1>
		<h2>Free, three-month trial now available.<sup>*</sup> </h2>

		<ul class="links">
			
			<li data-analytics-region="/music/" class="slide-link-a">
				<a
					href="/music/"
					data-analytics-click="prop3:/music/,prefix:h"
				>Learn more about Apple Music<span class="icon icon-more"></span></a>
			</li>
			
			<li data-analytics-region="https://itunes.apple.com/foryou?itscg=1002&amp;at=1000l4QJ&amp;ct=music" class="slide-link-c">
				<a
					href="https://itunes.apple.com/foryou?itscg=1002&amp;at=1000l4QJ&amp;ct=music"
					data-analytics-click="prop3:https://itunes.apple.com/foryou?itscg=1002&amp;at=1000l4QJ&amp;ct=music,prefix:h"
				>Start listening now<span class="icon icon-more"></span></a>
			</li>
		</ul>

						</div>

				</div>

				<div class="hero-wrapper">

					<figure class="hero-image hero-image-a">
						<div class="hero-image-inner"></div>
					</figure>

					

					

					

					

					

				</div>

		</div>
	</section>



	
	
	
	

	
	<section class="gallery-content gallery-content-hero-watch" id="gallery-content-hero-watch">

		<div class="hero-content">

			<a class="backing-link" href="/watch/" data-analytics-click="prop3:/watch/,prefix:h"></a>

				<div class="copy">

					<div class="copy-inner">

		<h1>Apple Watch</h1>
		<h2>The Watch is here.</h2>

						</div>

				</div>

				<div class="hero-wrapper">

					<figure class="hero-image hero-image-a">
						<div class="hero-image-inner"></div>
					</figure>

					

					

					

					

					

				</div>

		</div>
	</section>



	
	
	
	

	
	<section class="gallery-content gallery-content-hero-iphone" id="gallery-content-hero-iphone">

		<div class="hero-content">

			<a class="backing-link" href="/iphone-6/" data-analytics-click="prop3:/iphone-6/,prefix:h"></a>

				<div class="copy">

					<div class="copy-inner">

		<h1>iPhone 6</h1>
		<h2>The two and only.</h2>

						</div>

				</div>

				<div class="hero-wrapper">

					<figure class="hero-image hero-image-a">
						<div class="hero-image-inner"></div>
					</figure>

					

					

					

					

					

				</div>

		</div>
	</section>



	
	
	
	

	
	<section class="gallery-content gallery-content-hero-macbook" id="gallery-content-hero-macbook">

		<div class="hero-content">

			<a class="backing-link" href="/macbook/" data-analytics-click="prop3:/macbook/,prefix:h"></a>

				<div class="copy">

					<div class="copy-inner">

		<h1>MacBook</h1>
		<h2>Light. Years ahead.</h2>

						</div>

				</div>

				<div class="hero-wrapper">

					<figure class="hero-image hero-image-a">
						<div class="hero-image-inner"></div>
					</figure>

					

					

					

					

					

				</div>

		</div>
	</section>



	
	
	
	

	
	<section class="gallery-content gallery-content-hero-ipad" id="gallery-content-hero-ipad">

		<div class="hero-content">

			<a class="backing-link" href="/ipad-air-2/" data-analytics-click="prop3:/ipad-air-2/,prefix:h"></a>

				<div class="copy">

					<div class="copy-inner">

		<h1>iPad Air 2</h1>
		<h2>Change is in the Air.</h2>

						</div>

				</div>

				<div class="hero-wrapper">

					<figure class="hero-image hero-image-a">
						<div class="hero-image-inner"></div>
					</figure>

					

					

					

					

					

				</div>

		</div>
	</section>




	<nav class="dotnav" aria-hidden="true"><ul></ul></nav>

</article>
	<aside
	class="promos"
	id="promos"
	data-promo-key="homepage-201507310104"
	data-promo-classes="promo1,promo2,promo3,promo4,hero"
	data-analytics-region="promos"
>
	<ul>
			

	<li class="promo-tile-1">

		
		
		<a
	class="promo promo-1 promo-diversity"
	data-promo-id="diversity"
	href="/diversity/"
	data-analytics-click="prop3:diversity,prefix:p"
>
			Diversity at Apple. Inclusion inspires innovation.
		</a>


	</li>
			

	<li class="promo-tile-2">

		
		
		<a
	class="promo promo-2 promo-ipod-touch"
	data-promo-id="ipod-touch"
	href="/ipod-touch/"
	data-analytics-click="prop3:ipod-touch,prefix:p"
>
			The new iPod touch. And fresh colors for everyone.
		</a>


	</li>
			

	<li class="promo-tile-3">

		
		
		<a
	class="promo promo-3 promo-back-to-school"
	data-promo-id="back-to-school"
	href="/shop/browse/campaigns/education_pricing?aid=AOS-BTS-HomePage"
	data-analytics-click="prop3:back-to-school,prefix:p"
>
			Going back to school never sounded better.
		</a>


	</li>
			

	<li class="promo-tile-4">

		
		
		<a
	class="promo promo-4 promo-wti-camera"
	data-promo-id="wti-camera"
	href="/iphone/why-theres-iphone/"
	data-analytics-click="prop3:wti-camera,prefix:p"
>
			Why there’s iPhone.
		</a>


		
		
		<a
	class="promo promo-4 promo-wti-health"
	data-promo-id="wti-health"
	href="/iphone/why-theres-iphone/"
	data-analytics-click="prop3:wti-health,prefix:p"
>
			Why there’s iPhone.
		</a>


		
		
		<a
	class="promo promo-4 promo-wti-touchid"
	data-promo-id="wti-touchid"
	href="/iphone/why-theres-iphone/"
	data-analytics-click="prop3:wti-touchid,prefix:p"
>
			Why there’s iPhone.
		</a>

	</li>
	</ul>
</aside>

<div class="banner-wrapper ac-gf-new">
	<aside class="banner" id="banner">
		<a href="/support/beats-pillxl-recall">
			<p>
	    	<span class="more">Beats Pill XL Speaker Recall Program</span>
			</p>
		</a>
	</aside>
</div>
	<footer id="ac-globalfooter" class="no-js" lang="en-US" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
		<div class="ac-gf-content">
			<h2 class="ac-gf-label" id="ac-gf-label">Apple Footer</h2>
			<section class="ac-gf-sosumi">
				<ul>
					<li><small>* Requires initial sign-up. At the end of the trial period, the membership will automatically renew and payment method will be charged on a monthly basis until autorenewal is turned off in account&nbsp;settings.</small></li>
				</ul>
			</section>
			<!--googleoff: all-->
<nav class="ac-gf-directory with-5-columns" aria-label="Apple Directory" role="navigation">
	<div class="ac-gf-directory-column">
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-products" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-products">
				<h3 class="ac-gf-directory-column-section-title">Shop and Learn</h3> </label>
			<a href="#ac-gf-directory-column-section-state-products" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/mac/">Mac</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ipad/">iPad</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/iphone/">iPhone</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/watch/">Watch</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/music/">Apple Music</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/itunes/">iTunes</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ipod/">iPod</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/appletv/">Apple TV</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/buy_accessories">Accessories</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/giftcards">Gift Cards</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-storeservices" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-storeservices">
				<h3 class="ac-gf-directory-column-section-title">Apple Store</h3> </label>
			<a href="#ac-gf-directory-column-section-state-storeservices" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/retail/">Find a Store</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/retail/geniusbar/">Genius Bar</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/retail/learn/">Workshops and Learning</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/retail/learn/youth/">Youth Programs</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://itunes.apple.com/app/apple-store/id375380948?mt=8">Apple Store App</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/special_deals">Refurbished</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/payment_plan">Financing</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/reuse_and_recycle">Reuse and Recycling</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/account">Order Status</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/help">Shopping Help</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-education" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-education">
				<h3 class="ac-gf-directory-column-section-title">For Education</h3> </label>
			<a href="#ac-gf-directory-column-section-state-education" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/education/">Apple and Education</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/educationrouting">Shop for College</a></li>
			</ul>
		</div>
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-business" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-business">
				<h3 class="ac-gf-directory-column-section-title">For Business</h3> </label>
			<a href="#ac-gf-directory-column-section-state-business" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/iphone/business/">iPhone in Business</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/ipad/business/">iPad in Business</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/business/mac/">Mac in Business</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/retail/business/">Shop for Your Business</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-accounts" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-accounts">
				<h3 class="ac-gf-directory-column-section-title">Account</h3> </label>
			<a href="#ac-gf-directory-column-section-state-accounts" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://appleid.apple.com/us/">Manage Your Apple ID</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/us/shop/goto/account">Apple Store Account</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.icloud.com">iCloud.com</a></li>
			</ul>
		</div>
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-responsibility" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-responsibility">
				<h3 class="ac-gf-directory-column-section-title">Apple Values</h3> </label>
			<a href="#ac-gf-directory-column-section-state-responsibility" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/environment/">Environment</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/supplier-responsibility/">Supplier Responsibility</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/accessibility/">Accessibility</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/privacy/">Privacy</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/diversity/">Inclusion and Diversity</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/education/connectED/">Education</a></li>
			</ul>
		</div>
	</div>
	<div class="ac-gf-directory-column">
		<input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-about" />
		<div class="ac-gf-directory-column-section">
			<label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-about">
				<h3 class="ac-gf-directory-column-section-title">About Apple</h3> </label>
			<a href="#ac-gf-directory-column-section-state-about" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open"> <span class="ac-gf-directory-column-section-anchor-label">Open Menu</span> </a>
			<a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close"> <span class="ac-gf-directory-column-section-anchor-label">Close Menu</span> </a>
			<ul class="ac-gf-directory-column-section-list">
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/about/">Apple Info</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://www.apple.com/jobs/us/">Job Opportunities</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/pr/">Press Info</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="http://investor.apple.com">Investors</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/apple-events/">Events</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/hotnews/">Hot News</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/legal/">Legal</a></li>
				<li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/contact/">Contact Apple</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--googleon: all-->

<section class="ac-gf-footer" vocab="http://schema.org/" typeof="Organization">
	<div class="ac-gf-footer-shop"> More ways to shop: Visit an <a href="/retail/">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="https://locate.apple.com/">find a reseller</a></span>. </div>
	<div class="ac-gf-footer-locale"> <a class="ac-gf-footer-locale-link" href="/choose-your-country/" title="Choose your country or region" aria-label="United States. Choose your country or region"><span class="ac-gf-footer-locale-flag"></span>United States</a> </div>
	<div class="ac-gf-footer-legal">
		<div class="ac-gf-footer-legal-copyright">Copyright © 2015 Apple Inc. All rights reserved.</div>
		<div class="ac-gf-footer-legal-links"> <a class="ac-gf-footer-legal-link" href="/privacy/privacy-policy/">Privacy Policy</a> <a class="ac-gf-footer-legal-link" href="/legal/internet-services/terms/site.html">Terms of Use</a> <a class="ac-gf-footer-legal-link" href="/us/shop/goto/shipping_and_returns">Sales and Refunds</a> <a class="ac-gf-footer-legal-link" href="/sitemap/">Site Map</a> </div>
	</div>
	<meta content="Apple" property="name" />
	<meta content="1-800-692-7753" property="telephone" /> </section>

<script type="text/javascript" src="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/ac/GlobalFooter/scripts/ac-globalfooter.built.js"></script>

		</div>
	</footer>
	<script src="file://C:/xampp/htdocs/BrittainM-Portfolio/public_html/Apple Look-Alike/Home/scripts/home.built.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
