index {
    background-color: greenyellow;
}

nav a{
    color: red;
}

#currnt-link{
    color: blue;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}

img {
    width: 1100px;
    height: auto;
}

h1{
    border: 2px dashed black;
    padding-left: 500px;
    margin: 15px;
}