<div align="center"><object width="1366" height="720"><param name="movie" value="http://www.embeddablegames.net/embedgames/zombie-racer.swf"><param name="quality" value="high"><embed src="http://www.embeddablegames.net/embedgames/zombie-racer.swf" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer"></embed></object><br/><a href="http://www.knugo.com"><strong></strong></a></div>
<p>
<embed src="images/Sleh Ride.mp3" autostart="true" loop="true"
width="0" height="0"></embed>