@font-face
{
    font-family:"AC AppleIcons";
    font-style:normal;
    font-weight:400;
    src:url("/ac/icons/1.0/fonts/appleicons_text.eot");
    src:url("/ac/icons/1.0/fonts/appleicons_text.eot?#iefix")
        format("embedded-opentype"),url("/ac/icons/1.0/fonts/appleicons_text.woff")
        format("woff"),url("/ac/icons/1.0/fonts/appleicons_text.ttf")
        format("truetype")
}
@font-face
{
    font-family:"AC AppleIcons";
    font-style:normal;
    font-weight:200;
    src:url("/ac/icons/1.0/fonts/appleicons_thin.eot");
    src:url("/ac/icons/1.0/fonts/appleicons_thin.eot?#iefix") 
        format("embedded-opentype"),url("/ac/icons/1.0/fonts/appleicons_thin.woff") 
        format("woff"),url("/ac/icons/1.0/fonts/appleicons_thin.ttf") 
        format("truetype")
}
@font-face
{
    font-family:"AC AppleIcons";
    font-style:normal;
    font-weight:100;
    src:url("/ac/icons/1.0/fonts/appleicons_ultralight.eot");
    src:url("/ac/icons/1.0/fonts/appleicons_ultralight.eot?#iefix")
        format("embedded-opentype"),url("/ac/icons/1.0/fonts/appleicons_ultralight.woff") 
        format("woff"),url("/ac/icons/1.0/fonts/appleicons_ultralight.ttf") 
        format("truetype")
}
#ac-globalfooter .ac-gf-icon
{
    behavior:url("/ac/icons/1.0/behaviors/icons.htc")
}
#ac-globalfooter .ac-gf-icon:before,#ac-globalfooter .ac-gf-icon:after,#ac-globalfooter .ac-gf-icon .icon-htc
{
    display:inline-block;color:inherit;
    font-family:"AC AppleIcons";
    font-style:normal;
    font-weight:inherit;
    font-size:inherit;
    line-height:1;
    text-decoration:none;
    position:relative;
    z-index:1
}
#ac-globalfooter .ac-gf-icon:after,#ac-globalfooter .ac-gf-icon .icon-htc
{
    top:0;padding-left:0.3em
}
#ac-globalfooter .ac-gf-icon:before{display:none}
#ac-globalfooter .ac-gf-icon-before{behavior:url("/ac/icons/1.0/behaviors/icons.htc")
}
#ac-globalfooter .ac-gf-icon-before:before,#ac-globalfooter .ac-gf-icon-before:after,#ac-globalfooter .ac-gf-icon-before .icon-htc
{
    display:inline-block;color:inherit;font-family:"AC AppleIcons";font-style:normal;
    font-weight:inherit;
    font-size:inherit;
    line-height:1;
    text-decoration:none;
    position:relative;z-index:1
}
#ac-globalfooter .ac-gf-icon-before:before,#ac-globalfooter .ac-gf-icon-before .icon-htc
{
    top:-0.125em;padding-right:0.3em
}
#ac-globalfooter .ac-gf-icon-before:after{display:none}
#ac-globalfooter .ac-gf-icon-standalone
{
    behavior:url("/ac/icons/1.0/behaviors/icons.htc")
}
#ac-globalfooter .ac-gf-icon-standalone:before,#ac-globalfooter .ac-gf-icon-standalone:after,
#ac-globalfooter .ac-gf-icon-standalone .icon-htc
{
    display:inline-block;color:inherit;font-family:"AC AppleIcons";
    font-style:normal;
    font-weight:inherit;
    font-size:inherit;
    line-height:1;
    text-decoration:none;
    position:relative;z-index:1
}
#ac-globalfooter .ac-gf-icon-standalone:after,#ac-globalfooter .ac-gf-icon-standalone .icon-htc
{
    top:0;padding-left:0;padding-right:0
}
#ac-globalfooter .ac-gf-icon-standalone:before
{
    display:none
}
#ac-globalfooter .ac-gf-icon-font
{
    font-family:"AC AppleIcons";font-style:normal;
    font-weight:inherit
}
#ac-globalfooter .icon-ie-parent:link{
    text-decoration:none
}
.no-js#ac-globalfooter .icon-ie-parent:link:hover{
    text-decoration:none
}
.no-js#ac-globalfooter .icon-ie-parent:link:hover .icon-ie-link
{
    text-decoration:underline
}
.no-touch#ac-globalfooter .icon-ie-parent:link:hover
{
    text-decoration:none
}
.no-touch#ac-globalfooter .icon-ie-parent:link:hover .icon-ie-link
{
    text-decoration:underline
}
#ac-globalfooter .ac-gf-icon-chevrondown:before,
#ac-globalfooter .ac-gf-icon-chevrondown:after{
    content:""
}
#ac-globalfooter .ac-gf-icon-chevrondownalt:before,
#ac-globalfooter .ac-gf-icon-chevrondownalt:after{
    content:""
}
#ac-globalfooter .ac-gf-icon-chevronleft:before,
#ac-globalfooter .ac-gf-icon-chevronleft:after
{
    content:""
}
#ac-globalfooter .ac-gf-icon-chevronrightalt:before,
#ac-globalfooter .ac-gf-icon-chevronrightalt:after
{
    content:""
}#ac-globalfooter .ac-gf-icon-chevronright:before,
#ac-globalfooter .ac-gf-icon-chevronright:after{
    content:""
}
#ac-globalfooter .ac-gf-icon-chevronleftalt:before,
#ac-globalfooter .ac-gf-icon-chevronleftalt:after
{
    content:""
}
#ac-globalfooter .ac-gf-icon-chevronup:before,#ac-globalfooter .ac-gf-icon-chevronup:after{content:""}#ac-globalfooter .ac-gf-icon-chevronupalt:before,#ac-globalfooter .ac-gf-icon-chevronupalt:after{content:""}#ac-globalfooter .ac-gf-icon-close:before,#ac-globalfooter .ac-gf-icon-close:after{content:""}#ac-globalfooter .ac-gf-icon-closealt:before,#ac-globalfooter .ac-gf-icon-closealt:after{content:""}#ac-globalfooter .ac-gf-icon-download:before,#ac-globalfooter .ac-gf-icon-download:after{content:""}#ac-globalfooter .ac-gf-icon-downloadalt:before,#ac-globalfooter .ac-gf-icon-downloadalt:after{content:""}#ac-globalfooter .ac-gf-icon-external:before,#ac-globalfooter .ac-gf-icon-external:after{content:""}#ac-globalfooter .ac-gf-icon-alert:before,#ac-globalfooter .ac-gf-icon-alert:after{content:""}#ac-globalfooter .ac-gf-icon-list:before,#ac-globalfooter .ac-gf-icon-list:after{content:""}#ac-globalfooter .ac-gf-icon-paddledown:before,#ac-globalfooter .ac-gf-icon-paddledown:after{content:""}#ac-globalfooter .ac-gf-icon-paddleleft:before,#ac-globalfooter .ac-gf-icon-paddleleft:after{content:""}#ac-globalfooter .ac-gf-icon-paddleright:before,#ac-globalfooter .ac-gf-icon-paddleright:after{content:""}#ac-globalfooter .ac-gf-icon-paddleup:before,#ac-globalfooter .ac-gf-icon-paddleup:after{content:""}#ac-globalfooter .ac-gf-icon-pause:before,#ac-globalfooter .ac-gf-icon-pause:after{content:""}#ac-globalfooter .ac-gf-icon-play:before,#ac-globalfooter .ac-gf-icon-play:after{content:""}#ac-globalfooter .ac-gf-icon-playalt:before,#ac-globalfooter .ac-gf-icon-playalt:after{content:""}#ac-globalfooter .ac-gf-icon-replay:before,#ac-globalfooter .ac-gf-icon-replay:after{content:""}#ac-globalfooter .ac-gf-icon-zoomalt:before,#ac-globalfooter .ac-gf-icon-zoomalt:after{content:""}#ac-globalfooter .ac-gf-icon-closeinlinealt:before,#ac-globalfooter .ac-gf-icon-closeinlinealt:after{content:""}#ac-globalfooter .ac-gf-icon-grid:before,#ac-globalfooter .ac-gf-icon-grid:after{content:""}#ac-globalfooter .ac-gf-icon-checkalt:before,#ac-globalfooter .ac-gf-icon-checkalt:after{content:""}#ac-globalfooter .ac-gf-icon-stop:before,#ac-globalfooter .ac-gf-icon-stop:after{content:""}#ac-globalfooter .ac-gf-icon-stopalt:before,#ac-globalfooter .ac-gf-icon-stopalt:after{content:""}#ac-globalfooter .ac-gf-icon-replayalt:before,#ac-globalfooter .ac-gf-icon-replayalt:after{content:""}#ac-globalfooter .ac-gf-icon-facebook:before,#ac-globalfooter .ac-gf-icon-facebook:after{content:""}#ac-globalfooter .ac-gf-icon-link:before,#ac-globalfooter .ac-gf-icon-link:after{content:""}#ac-globalfooter .ac-gf-icon-mail:before,#ac-globalfooter .ac-gf-icon-mail:after{content:""}#ac-globalfooter .ac-gf-icon-pinterest:before,#ac-globalfooter .ac-gf-icon-pinterest:after{content:""}#ac-globalfooter .ac-gf-icon-qqweibo:before,#ac-globalfooter .ac-gf-icon-qqweibo:after{content:""}#ac-globalfooter .ac-gf-icon-qzone:before,#ac-globalfooter .ac-gf-icon-qzone:after{content:""}#ac-globalfooter .ac-gf-icon-renren:before,#ac-globalfooter .ac-gf-icon-renren:after{content:""}#ac-globalfooter .ac-gf-icon-share:before,#ac-globalfooter .ac-gf-icon-share:after{content:""}#ac-globalfooter .ac-gf-icon-tumblr:before,#ac-globalfooter .ac-gf-icon-tumblr:after{content:""}#ac-globalfooter .ac-gf-icon-twitter:before,#ac-globalfooter .ac-gf-icon-twitter:after{content:""}#ac-globalfooter .ac-gf-icon-webo:before,#ac-globalfooter .ac-gf-icon-webo:after{content:""}#ac-globalfooter .ac-gf-icon-instagram:before,#ac-globalfooter .ac-gf-icon-instagram:after{content:""}#ac-globalfooter .ac-gf-icon-check:before,#ac-globalfooter .ac-gf-icon-check:after{content:""}#ac-globalfooter .ac-gf-icon-linkedin:before,#ac-globalfooter .ac-gf-icon-linkedin:after{content:""}#ac-globalfooter .ac-gf-icon-snapchat:before,#ac-globalfooter .ac-gf-icon-snapchat:after{content:""}#ac-globalfooter .ac-gf-icon-zoom:before,#ac-globalfooter .ac-gf-icon-zoom:after{content:""}#ac-globalfooter .ac-gf-icon-zoomoutalt:before,#ac-globalfooter .ac-gf-icon-zoomoutalt:after{content:""}#ac-globalfooter .ac-gf-icon-zoomout:before,#ac-globalfooter .ac-gf-icon-zoomout:after{content:""}#ac-globalfooter .ac-gf-icon-favorite:before,#ac-globalfooter .ac-gf-icon-favorite:after{content:""}#ac-globalfooter .ac-gf-icon-clearsolid:before,#ac-globalfooter .ac-gf-icon-clearsolid:after{content:""}#ac-globalfooter .ac-gf-icon-remove:before,#ac-globalfooter .ac-gf-icon-remove:after{content:""}#ac-globalfooter .ac-gf-icon-unvalidatedalt:before,#ac-globalfooter .ac-gf-icon-unvalidatedalt:after{content:""}#ac-globalfooter .ac-gf-icon-unvalidated:before,#ac-globalfooter .ac-gf-icon-unvalidated:after{content:""}#ac-globalfooter .ac-gf-icon-info:before,#ac-globalfooter .ac-gf-icon-info:after{content:""}#ac-globalfooter .ac-gf-icon-add:before,#ac-globalfooter .ac-gf-icon-add:after{content:""}#ac-globalfooter .ac-gf-icon-exclamation:before,#ac-globalfooter .ac-gf-icon-exclamation:after{content:""}#ac-globalfooter .ac-gf-icon-infoalt:before,#ac-globalfooter .ac-gf-icon-infoalt:after{content:""}#ac-globalfooter .ac-gf-icon-apple:before,#ac-globalfooter .ac-gf-icon-apple:after{content:""}#ac-globalfooter .ac-gf-more{behavior:url("/ac/icons/1.0/behaviors/icons.htc")}#ac-globalfooter .ac-gf-more:before,#ac-globalfooter .ac-gf-more:after{content:""}#ac-globalfooter .ac-gf-more:before,#ac-globalfooter .ac-gf-more:after,#ac-globalfooter .ac-gf-more .icon-htc{display:inline-block;color:inherit;font-family:"AC AppleIcons";font-style:normal;font-weight:inherit;font-size:inherit;line-height:1;text-decoration:none;position:relative;z-index:1}#ac-globalfooter .ac-gf-more:after,#ac-globalfooter .ac-gf-more .icon-htc{top:0;padding-left:0.3em}#ac-globalfooter .ac-gf-more:before{display:none}#ac-globalfooter .ac-gf-more-block{margin-top:.5em}#ac-globalfooter{text-align:left;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}#ac-globalfooter,#ac-globalfooter *{margin:0;padding:0;letter-spacing:normal}#ac-globalfooter *{font-size:1em;line-height:inherit;*line-height:expression(this.parentNode.currentStyle['line-height']);text-align:inherit;*text-align:expression(this.parentNode.currentStyle['text-align'])}#ac-globalfooter article,#ac-globalfooter aside,#ac-globalfooter details,#ac-globalfooter figcaption,#ac-globalfooter figure,#ac-globalfooter footer,#ac-globalfooter header,#ac-globalfooter nav,#ac-globalfooter section{display:block}#ac-globalfooter img{border:0;vertical-align:middle}#ac-globalfooter ul{list-style:none}#ac-globalfooter,#ac-globalfooter select,#ac-globalfooter button{font-family:"Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:'liga', 'kern'}[lang=ja-JP]#ac-globalfooter,[lang=ja-JP]#ac-globalfooter select,[lang=ja-JP]#ac-globalfooter button{font-family:"Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN]#ac-globalfooter,[lang=zh-CN]#ac-globalfooter select,[lang=zh-CN]#ac-globalfooter button{font-family:"PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW]#ac-globalfooter,[lang=zh-TW]#ac-globalfooter select,[lang=zh-TW]#ac-globalfooter button{font-family:"MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK]#ac-globalfooter,[lang=zh-HK]#ac-globalfooter select,[lang=zh-HK]#ac-globalfooter button{font-family:"MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH]#ac-globalfooter,[lang=th-TH]#ac-globalfooter select,[lang=th-TH]#ac-globalfooter button{font-family:"Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR]#ac-globalfooter,[lang=ko-KR]#ac-globalfooter select,[lang=ko-KR]#ac-globalfooter button{font-family:"Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}#ac-globalfooter input,#ac-globalfooter textarea{font-family:"Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:'liga', 'kern'}[lang=ja-JP]#ac-globalfooter input,[lang=ja-JP]#ac-globalfooter textarea{font-family:"Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN]#ac-globalfooter input,[lang=zh-CN]#ac-globalfooter textarea{font-family:"STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW]#ac-globalfooter input,[lang=zh-TW]#ac-globalfooter textarea{font-family:"STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK]#ac-globalfooter input,[lang=zh-HK]#ac-globalfooter textarea{font-family:"STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH]#ac-globalfooter input,[lang=th-TH]#ac-globalfooter textarea{font-family:"Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR]#ac-globalfooter input,[lang=ko-KR]#ac-globalfooter textarea{font-family:"Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}#ac-globalfooter{font-size:12px;line-height:1.66667;font-weight:400;letter-spacing:normal;min-width:1024px;overflow:hidden;position:relative;z-index:1;background-color:#f2f2f2;color:#666}@media only screen and (max-width: 1023px){#ac-globalfooter{min-width:320px}}#ac-globalfooter a{color:#666;text-decoration:none}.no-js#ac-globalfooter a:hover{color:#333;text-decoration:underline}.no-touch#ac-globalfooter a:hover{color:#333;text-decoration:underline}.ac-theme-dark #ac-globalfooter,.ac-globalfooter-dark#ac-globalfooter{background-color:#222;color:#999}.ac-theme-dark #ac-globalfooter a,.ac-globalfooter-dark#ac-globalfooter a{color:#999}.ac-theme-dark .no-js#ac-globalfooter a:hover,.ac-globalfooter-dark.no-js#ac-globalfooter a:hover{color:#ccc}.ac-theme-dark .no-touch#ac-globalfooter a:hover,.ac-globalfooter-dark.no-touch#ac-globalfooter a:hover{color:#ccc}#ac-globalfooter .ac-gf-content{margin:0 auto;padding:0 22px;max-width:980px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-content{padding:0 16px}}#ac-globalfooter .ac-gf-label{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(0px 0px 99.9% 99.9%);clip-path:inset(0px 0px 99.9% 99.9%);overflow:hidden;height:1px;width:1px;padding:0;border:0}#ac-globalfooter .ac-gf-buystrip{border-bottom:1px solid #e3e3e3;padding:64px 0;text-align:center}#ac-globalfooter .ac-gf-buystrip a{color:#08c}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip{border-color:#333}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip a,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip a{color:#5cc3f6}#ac-globalfooter a.ac-gf-block{display:block;cursor:pointer;text-decoration:none;color:inherit}.oldie#ac-globalfooter a.ac-gf-block{color:expression(this.parentNode.currentStyle['color'])}#ac-globalfooter a.ac-gf-block:before,#ac-globalfooter a.ac-gf-block:after{content:' ';display:table}#ac-globalfooter a.ac-gf-block:after{clear:both}.oldie#ac-globalfooter a.ac-gf-block{zoom:1}.no-js#ac-globalfooter a.ac-gf-block:hover{text-decoration:none}.no-js#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link{text-decoration:underline}.no-js#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent{text-decoration:none}.no-js#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent .icon-ie-link{text-decoration:underline}.no-touch#ac-globalfooter a.ac-gf-block:hover{text-decoration:none}.no-touch#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link{text-decoration:underline}.no-touch#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent{text-decoration:none}.no-touch#ac-globalfooter a.ac-gf-block:hover .ac-gf-block-link.icon-ie-parent .icon-ie-link{text-decoration:underline}#ac-globalfooter a.ac-gf-block .ac-gf-block-link{color:#08c;cursor:pointer}#ac-globalfooter a.ac-gf-block-inline{display:inline-block}.no-js#ac-globalfooter a.ac-gf-block:hover{color:inherit}.no-js.oldie#ac-globalfooter a.ac-gf-block:hover{color:expression(this.parentNode.currentStyle['color'])}.no-touch#ac-globalfooter a.ac-gf-block:hover{color:inherit}.no-touch.oldie#ac-globalfooter a.ac-gf-block:hover{color:expression(this.parentNode.currentStyle['color'])}.ac-theme-dark #ac-globalfooter a.ac-gf-block,.ac-globalfooter-dark#ac-globalfooter a.ac-gf-block{color:inherit}.ac-theme-dark .oldie#ac-globalfooter a.ac-gf-block,.ac-globalfooter-dark.oldie#ac-globalfooter a.ac-gf-block{color:expression(this.parentNode.currentStyle['color'])}.ac-theme-dark #ac-globalfooter a.ac-gf-block .ac-gf-block-link,.ac-globalfooter-dark#ac-globalfooter a.ac-gf-block .ac-gf-block-link{color:#5cc3f6}#ac-globalfooter .ac-gf-buystrip-hero{font-size:18px;line-height:1.36111;font-weight:400;letter-spacing:normal;direction:rtl}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-buystrip-hero{font-size:16px;line-height:1.5;font-weight:400;letter-spacing:normal}}#ac-globalfooter .ac-gf-buystrip-hero:before,#ac-globalfooter .ac-gf-buystrip-hero:after{content:' ';display:table}#ac-globalfooter .ac-gf-buystrip-hero:after{clear:both}.oldie#ac-globalfooter .ac-gf-buystrip-hero{zoom:1}@media only screen and (max-width: 480px){#ac-globalfooter .ac-gf-buystrip-hero{padding-bottom:16px}}#ac-globalfooter .ac-gf-buystrip-hero-product{display:inline-block;margin-right:34px;vertical-align:middle}.oldie#ac-globalfooter .ac-gf-buystrip-hero-product{display:inline;zoom:1}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-buystrip-hero-product{margin-right:0;margin-top:22px}}#ac-globalfooter .ac-gf-buystrip-hero-block{direction:ltr;display:inline-block;text-align:left;vertical-align:middle}.oldie#ac-globalfooter .ac-gf-buystrip-hero-block{display:inline;zoom:1}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-buystrip-hero-block{text-align:center;padding-left:0;width:100%}}#ac-globalfooter .ac-gf-buystrip-hero-title{font-size:36px;line-height:1.22222;font-weight:200;letter-spacing:normal;color:#333;margin-bottom:8px}.oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-weight:normal;font-family:"Myriad Set Pro 200","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ja-JP].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"Apple TP 200","Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"PingHei 200","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"MHei 200","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"MHei 200","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"Sukhumvit Set 200","Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR].oldie#ac-globalfooter .ac-gf-buystrip-hero-title{font-family:"Yoon Gothic 200","Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-buystrip-hero-title{font-size:32px;line-height:1.25;font-weight:200;letter-spacing:normal}}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-hero-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-hero-title{color:#fff}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-hero-copy,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-hero-copy{color:#ccc}#ac-globalfooter .ac-gf-buystrip-hero-cta{margin-top:4px}#ac-globalfooter .ac-gf-buystrip-info{font-size:16px;line-height:1.5;font-weight:400;letter-spacing:normal}#ac-globalfooter .ac-gf-buystrip-info:before,#ac-globalfooter .ac-gf-buystrip-info:after{content:' ';display:table}#ac-globalfooter .ac-gf-buystrip-info:after{clear:both}.oldie#ac-globalfooter .ac-gf-buystrip-info{zoom:1}#ac-globalfooter .ac-gf-buystrip-info-column{position:relative;z-index:1;min-height:2px;margin:0;padding:0;float:left;width:25%}@media only screen and (max-width: 1023px){#ac-globalfooter .ac-gf-buystrip-info-column{width:50%}#ac-globalfooter .ac-gf-buystrip-info-column:nth-child(3){clear:left}}@media only screen and (max-width: 480px){#ac-globalfooter .ac-gf-buystrip-info-column{width:100%}}#ac-globalfooter .ac-gf-buystrip-info-content{margin:0 auto;padding-top:80px;position:relative;text-align:center;width:216px;z-index:1}@media only screen and (max-width: 480px){#ac-globalfooter .ac-gf-buystrip-info-content{padding-top:64px}}#ac-globalfooter .ac-gf-buystrip-info-icon{margin:0 auto}#ac-globalfooter .ac-gf-buystrip-info-icon-asa{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/asa/icon_large.svg")}.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-asa{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/asa/icon_large.png")}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-icon-asa,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-icon-asa{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/asa/icon_dark_large.svg")}.ac-theme-dark .no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-asa,.ac-globalfooter-dark.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-asa{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/asa/icon_dark_large.png")}#ac-globalfooter .ac-gf-buystrip-info-icon-financing{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/financing/icon_large.svg")}.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-financing{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/financing/icon_large.png")}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-icon-financing,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-icon-financing{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/financing/icon_dark_large.svg")}.ac-theme-dark .no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-financing,.ac-globalfooter-dark.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-financing{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/financing/icon_dark_large.png")}#ac-globalfooter .ac-gf-buystrip-info-icon-help{background-repeat:no-repeat;background-size:59px 45px;height:45px;width:59px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/help/icon_large.svg")}.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-help{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/help/icon_large.png")}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-icon-help,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-icon-help{background-repeat:no-repeat;background-size:59px 45px;height:45px;width:59px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/help/icon_dark_large.svg")}.ac-theme-dark .no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-help,.ac-globalfooter-dark.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-help{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/help/icon_dark_large.png")}#ac-globalfooter .ac-gf-buystrip-info-icon-retail{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/retail/icon_large.svg")}.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-retail{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/retail/icon_large.png")}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-icon-retail,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-icon-retail{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/retail/icon_dark_large.svg")}.ac-theme-dark .no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-retail,.ac-globalfooter-dark.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-retail{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/retail/icon_dark_large.png")}#ac-globalfooter .ac-gf-buystrip-info-icon-shipping{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/shipping/icon_large.svg")}.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-shipping{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/shipping/icon_large.png")}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-icon-shipping,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-icon-shipping{background-repeat:no-repeat;background-size:45px 45px;height:45px;width:45px;background-image:url("../images/ac-globalfooter/globalfooter/buystrip/shipping/icon_dark_large.svg")}.ac-theme-dark .no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-shipping,.ac-globalfooter-dark.no-svg#ac-globalfooter .ac-gf-buystrip-info-icon-shipping{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/buystrip/shipping/icon_dark_large.png")}#ac-globalfooter .ac-gf-buystrip-info-title{font-size:24px;line-height:1.33333;font-weight:200;letter-spacing:normal;color:#333;margin-bottom:0;margin-top:0.5em}.oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-weight:normal;font-family:"Myriad Set Pro 200","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ja-JP].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"Apple TP 200","Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"PingHei 200","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"MHei 200","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"MHei 200","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"Sukhumvit Set 200","Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR].oldie#ac-globalfooter .ac-gf-buystrip-info-title{font-family:"Yoon Gothic 200","Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-title{color:#fff}#ac-globalfooter .ac-gf-buystrip-info-copy{color:#666;display:block}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-copy,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-copy{color:#999}#ac-globalfooter .ac-gf-buystrip-info-caption{color:#333;display:block}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-caption,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-caption{color:#ccc}#ac-globalfooter .ac-gf-buystrip-info-caption.with-cta{color:#666}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-caption.with-cta,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-caption.with-cta{color:#999}#ac-globalfooter .ac-gf-buystrip-info-cta{color:#08c;line-height:1;margin-top:0.875em;display:block}.ac-theme-dark #ac-globalfooter .ac-gf-buystrip-info-cta,.ac-globalfooter-dark#ac-globalfooter .ac-gf-buystrip-info-cta{color:#5cc3f6}.no-js#ac-globalfooter .ac-gf-buystrip-info-cta-chat{display:none}#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column{position:relative;z-index:1;min-height:2px;margin:0;padding:0;float:left;width:33.33333%}.oldie#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column{width:33.3%}@media only screen and (max-width: 1023px){#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column:nth-child(3){clear:none}}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column{width:50%}#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column:nth-child(3){width:100%;clear:left}}@media only screen and (max-width: 480px){#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column,#ac-globalfooter .ac-gf-buystrip-info.with-3-columns .ac-gf-buystrip-info-column:nth-child(3){width:100%}}#ac-globalfooter .ac-gf-buystrip-info.with-2-columns{margin:0 auto;max-width:820px}#ac-globalfooter .ac-gf-buystrip-info.with-2-columns .ac-gf-buystrip-info-column{position:relative;z-index:1;min-height:2px;margin:0;padding:0;float:left;width:50%}@media only screen and (max-width: 480px){#ac-globalfooter .ac-gf-buystrip-info.with-2-columns .ac-gf-buystrip-info-column{width:100%}}#ac-globalfooter .ac-gf-sosumi{border-bottom:1px solid #e3e3e3;color:#999;padding:16px 0 11px}.ac-theme-dark #ac-globalfooter .ac-gf-sosumi,.ac-globalfooter-dark#ac-globalfooter .ac-gf-sosumi{border-color:#333;color:#666}#ac-globalfooter .ac-gf-sosumi ol{list-style-position:outside;margin:0;padding:0 16px}.oldie#ac-globalfooter .ac-gf-sosumi ol{list-style-position:inside;text-indent:-16px}#ac-globalfooter .ac-gf-sosumi ol li{list-style-type:decimal}#ac-globalfooter .ac-gf-sosumi li{padding-bottom:5px}#ac-globalfooter .ac-gf-sosumi p,#ac-globalfooter .ac-gf-sosumi li{font-size:12px;line-height:1.33333;font-weight:400;letter-spacing:normal}@media only screen and (max-width: 1023px){#ac-globalfooter .ac-gf-sosumi p,#ac-globalfooter .ac-gf-sosumi li{font-size:12px;line-height:1.33333;font-weight:400;letter-spacing:normal}}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-sosumi p,#ac-globalfooter .ac-gf-sosumi li{font-size:12px;line-height:1.33333;font-weight:400;letter-spacing:normal}}#ac-globalfooter .ac-gf-sosumi small{font-size:1em}#ac-globalfooter .ac-gf-breadcrumbs{position:relative;padding:20px 0}#ac-globalfooter .ac-gf-breadcrumbs:before,#ac-globalfooter .ac-gf-breadcrumbs:after{content:' ';display:table}#ac-globalfooter .ac-gf-breadcrumbs:after{clear:both}.oldie#ac-globalfooter .ac-gf-breadcrumbs{zoom:1}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-breadcrumbs{padding:18px 0;border-bottom:1px solid #e3e3e3}.ac-theme-dark #ac-globalfooter .ac-gf-breadcrumbs,.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs{border-color:#333}}#ac-globalfooter .ac-gf-breadcrumbs-home:hover,#ac-globalfooter .ac-gf-breadcrumbs-link:hover{text-decoration:none}.no-js#ac-globalfooter .ac-gf-breadcrumbs-home:hover,.no-js#ac-globalfooter .ac-gf-breadcrumbs-link:hover{text-decoration:none}.no-touch#ac-globalfooter .ac-gf-breadcrumbs-home:hover,.no-touch#ac-globalfooter .ac-gf-breadcrumbs-link:hover{text-decoration:none}#ac-globalfooter .ac-gf-breadcrumbs-home{font-size:21px;line-height:1;font-weight:400;letter-spacing:normal;font-family:"AC AppleIcons";position:absolute;top:24px;left:0;z-index:2}@media only screen and (max-width: 767px){.touch#ac-globalfooter .ac-gf-breadcrumbs-home{behavior:url("/ac/icons/1.0/behaviors/icons.htc")}.touch#ac-globalfooter .ac-gf-breadcrumbs-home:before,.touch#ac-globalfooter .ac-gf-breadcrumbs-home:after{content:""}.touch#ac-globalfooter .ac-gf-breadcrumbs-home:before,.touch#ac-globalfooter .ac-gf-breadcrumbs-home:after,.touch#ac-globalfooter .ac-gf-breadcrumbs-home .icon-htc{display:inline-block;color:inherit;font-family:"AC AppleIcons";font-style:normal;font-weight:inherit;font-size:inherit;line-height:1;text-decoration:none;position:relative;z-index:1}.touch#ac-globalfooter .ac-gf-breadcrumbs-home:after,.touch#ac-globalfooter .ac-gf-breadcrumbs-home .icon-htc{top:0;padding-left:0}.touch#ac-globalfooter .ac-gf-breadcrumbs-home:before{display:none}.touch#ac-globalfooter .ac-gf-breadcrumbs-home:after,.touch#ac-globalfooter .ac-gf-breadcrumbs-home .icon-htc{color:#d6d6d6;font-size:16px;padding-left:10px;top:-3px}.ac-theme-dark .touch#ac-globalfooter .ac-gf-breadcrumbs-home:after,.ac-theme-dark .touch#ac-globalfooter .ac-gf-breadcrumbs-home .icon-htc,.touch.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-home:after,.touch.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-home .icon-htc{color:#666}}#ac-globalfooter .ac-gf-breadcrumbs-home-icon{display:inline-block;position:relative;top:-1px;left:1px;z-index:2}.oldie#ac-globalfooter .ac-gf-breadcrumbs-home-icon{display:inline;zoom:1}#ac-globalfooter .ac-gf-breadcrumbs-home-label{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(0px 0px 99.9% 99.9%);clip-path:inset(0px 0px 99.9% 99.9%);overflow:hidden;height:1px;width:1px;padding:0;border:0}#ac-globalfooter .ac-gf-breadcrumbs-home-chevron,#ac-globalfooter .ac-gf-breadcrumbs-home-mask{background:#f2f2f2;display:none}@media only screen and (max-width: 767px){.touch#ac-globalfooter .ac-gf-breadcrumbs-home-chevron,.touch#ac-globalfooter .ac-gf-breadcrumbs-home-mask{display:block}}.ac-theme-dark #ac-globalfooter .ac-gf-breadcrumbs-home-chevron,.ac-theme-dark #ac-globalfooter .ac-gf-breadcrumbs-home-mask,.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-home-chevron,.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-home-mask{background:#222}#ac-globalfooter .ac-gf-breadcrumbs-home-chevron{margin-top:-11px;position:absolute;top:50%;right:1px;width:16px;height:16px;z-index:1;-webkit-transform:scaleX(0.8) rotate(45deg);-ms-transform:scaleX(0.8) rotate(45deg);transform:scaleX(0.8) rotate(45deg)}#ac-globalfooter .ac-gf-breadcrumbs-home-mask{position:absolute;top:-2px;right:8px;left:-2px;bottom:-2px;z-index:1}#ac-globalfooter .ac-gf-breadcrumbs-path{font-size:12px;line-height:1.33333;font-weight:400;letter-spacing:normal;float:left}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-breadcrumbs-path{font-size:14px;line-height:1.14286;font-weight:400;letter-spacing:normal}}#ac-globalfooter .ac-gf-breadcrumbs-path:before,#ac-globalfooter .ac-gf-breadcrumbs-path:after{content:' ';display:table}#ac-globalfooter .ac-gf-breadcrumbs-path:after{clear:both}.oldie#ac-globalfooter .ac-gf-breadcrumbs-path{zoom:1}@media only screen and (max-width: 767px){.touch#ac-globalfooter .ac-gf-breadcrumbs-path{white-space:nowrap;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;direction:rtl;max-width:100%}}#ac-globalfooter .ac-gf-breadcrumbs-list{padding-left:16px;float:left;direction:ltr}@media only screen and (max-width: 767px){.touch#ac-globalfooter .ac-gf-breadcrumbs-list{padding-left:40px;float:right}}#ac-globalfooter .ac-gf-breadcrumbs-item{behavior:url("/ac/icons/1.0/behaviors/icons.htc");display:inline-block;padding:4px 0;margin-left:0.8em;white-space:nowrap}#ac-globalfooter .ac-gf-breadcrumbs-item:before,#ac-globalfooter .ac-gf-breadcrumbs-item:after{content:""}#ac-globalfooter .ac-gf-breadcrumbs-item:before,#ac-globalfooter .ac-gf-breadcrumbs-item:after,#ac-globalfooter .ac-gf-breadcrumbs-item .icon-htc{display:inline-block;color:inherit;font-family:"AC AppleIcons";font-style:normal;font-weight:inherit;font-size:inherit;line-height:1;text-decoration:none;position:relative;z-index:1}#ac-globalfooter .ac-gf-breadcrumbs-item:before,#ac-globalfooter .ac-gf-breadcrumbs-item .icon-htc{top:0;padding-right:0}#ac-globalfooter .ac-gf-breadcrumbs-item:after{display:none}.oldie#ac-globalfooter .ac-gf-breadcrumbs-item{display:inline;zoom:1}.oldie#ac-globalfooter .ac-gf-breadcrumbs-item{display:block;float:left;margin-left:14px;margin-top:2px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-breadcrumbs-item{padding:6px 0}}#ac-globalfooter .ac-gf-breadcrumbs-item:before,#ac-globalfooter .ac-gf-breadcrumbs-item .icon-htc{color:#d6d6d6;font-size:16px;padding-right:0.8em;top:1px}.ac-theme-dark #ac-globalfooter .ac-gf-breadcrumbs-item:before,.ac-theme-dark #ac-globalfooter .ac-gf-breadcrumbs-item .icon-htc,.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-item:before,.ac-globalfooter-dark#ac-globalfooter .ac-gf-breadcrumbs-item .icon-htc{color:#666}@media only screen and (max-width: 767px){.touch#ac-globalfooter .ac-gf-breadcrumbs-item:first-child:before,.touch#ac-globalfooter .ac-gf-breadcrumbs-item:first-child .icon-htc{display:none}}#ac-globalfooter .ac-gf-directory{font-size:12px;line-height:1.66667;font-weight:400;letter-spacing:normal;position:relative;z-index:1;padding-top:20px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory{font-size:12px;line-height:2.5;font-weight:400;letter-spacing:normal}}#ac-globalfooter .ac-gf-directory:before,#ac-globalfooter .ac-gf-directory:after{content:' ';display:table}#ac-globalfooter .ac-gf-directory:after{clear:both}.oldie#ac-globalfooter .ac-gf-directory{zoom:1}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory{padding-top:0}#ac-globalfooter .ac-gf-directory:first-child{padding-top:20px}#ac-globalfooter .ac-gf-directory:first-child .ac-gf-directory-column:first-child{border-top:1px solid #e3e3e3}}#ac-globalfooter .ac-gf-directory-column{position:relative;z-index:1;min-height:2px;margin:0;padding:0;float:left;width:25%}.oldie#ac-globalfooter .ac-gf-directory-column{width:24.975%}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column{width:100%}.oldie#ac-globalfooter .ac-gf-directory-column{width:99.9%}}#ac-globalfooter .ac-gf-directory-column-section{width:100%;position:relative;z-index:1;min-height:2px;margin:0;padding:0;float:left;pointer-events:none}.oldie#ac-globalfooter .ac-gf-directory-column-section{width:99.9%}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section{border-bottom:1px solid #e3e3e3;overflow:hidden;pointer-events:auto}.ac-theme-dark #ac-globalfooter .ac-gf-directory-column-section,.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section{border-color:#333}}#ac-globalfooter .ac-gf-directory-column-section ~ .ac-gf-directory-column-section{padding-top:20px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section ~ .ac-gf-directory-column-section{padding-top:0}}#ac-globalfooter .ac-gf-directory-column-section-title{font-size:12px;line-height:1.66667;font-weight:600;letter-spacing:normal;color:#333;margin:0}.oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-weight:normal;font-family:"Myriad Set Pro 600","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ja-JP].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"Apple TP 600","Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"PingHei 600","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"MHei 600","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"MHei 600","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"Sukhumvit Set 600","Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR].oldie#ac-globalfooter .ac-gf-directory-column-section-title{font-family:"Yoon Gothic 600","Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-title{font-size:14px;line-height:2.78571;font-weight:400;letter-spacing:normal}}.ac-theme-dark #ac-globalfooter .ac-gf-directory-column-section-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-title{color:#fff}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-title{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ac-theme-dark #ac-globalfooter .ac-gf-directory-column-section-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-title{color:#ccc}.no-js#ac-globalfooter .ac-gf-directory-column-section-title:hover{color:#000}.ac-theme-dark .no-js#ac-globalfooter .ac-gf-directory-column-section-title:hover,.no-js.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-title:hover{color:#fff}.no-touch#ac-globalfooter .ac-gf-directory-column-section-title:hover{color:#000}.ac-theme-dark .no-touch#ac-globalfooter .ac-gf-directory-column-section-title:hover,.no-touch.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-title:hover{color:#fff}#ac-globalfooter .ac-gf-directory-column-section-title:after{content:'+';float:right;font-weight:normal;margin-right:8px;-webkit-transition:-webkit-transform .3s ease;transition:transform .3s ease}}#ac-globalfooter .ac-gf-directory-column-section-list{padding:0;margin-right:20px;list-style:none}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-list{margin:0;overflow:hidden;padding-bottom:16px;position:absolute;top:100%;left:0;width:100%;visibility:hidden;z-index:-1}}#ac-globalfooter .ac-gf-directory-column-section-item{display:block;pointer-events:auto}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-item{-webkit-transform:translateY(-120px);-ms-transform:translateY(-120px);transform:translateY(-120px)}}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-link{outline-offset:-6px;padding:0 14px;display:block}}#ac-globalfooter .ac-gf-directory-column-section-anchor{display:none;cursor:default;position:absolute;top:0;right:0;width:1px;height:1px;z-index:10}#ac-globalfooter .ac-gf-directory-column-section-anchor:focus{outline-offset:-6px;width:25px;height:38px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-anchor{display:block}}.no-js#ac-globalfooter .ac-gf-directory-column-section-anchor{cursor:pointer;outline-offset:-6px;width:100%;height:38px}#ac-globalfooter .ac-gf-directory-column-section-anchor-close{display:none}#ac-globalfooter .ac-gf-directory-column-section-anchor-label{position:absolute;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(0px 0px 99.9% 99.9%);clip-path:inset(0px 0px 99.9% 99.9%);overflow:hidden;height:1px;width:1px;padding:0;border:0}#ac-globalfooter .ac-gf-directory-column-section-state{display:none}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-weight:600;color:#333}.oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,.oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-weight:normal;font-family:"Myriad Set Pro 600","Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ja-JP].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=ja-JP].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"Apple TP 600","Apple TP","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-CN].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=zh-CN].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"PingHei 600","PingHei","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-TW].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=zh-TW].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"MHei 600","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=zh-HK].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=zh-HK].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"MHei 600","MHei","STHeitiTC-Light","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=th-TH].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=th-TH].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"Sukhumvit Set 600","Sukhumvit Set","Helvetica Neue","Helvetica","Arial",sans-serif}[lang=ko-KR].oldie#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,[lang=ko-KR].oldie#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{font-family:"Yoon Gothic 600","Yoon Gothic","Apple Gothic","HY Gulim","MalgumGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif}.ac-theme-dark #ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,.ac-theme-dark #ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title,.ac-globalfooter-dark#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title{color:#fff}#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-title:after{-webkit-transform:rotate(45deg) scale(1.08);-ms-transform:rotate(45deg) scale(1.08);transform:rotate(45deg) scale(1.08)}#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-list,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-list{position:static;visibility:visible}#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-item,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-item{-webkit-transform:none;-ms-transform:none;transform:none;-webkit-transition:-webkit-transform 300ms ease;transition:transform 300ms ease}#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-open{display:none}#ac-globalfooter .ac-gf-directory-column-section-state:target+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close,#ac-globalfooter .ac-gf-directory-column-section-state:checked+.ac-gf-directory-column-section .ac-gf-directory-column-section-anchor-close{display:block}}#ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column{width:20%}.oldie#ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column{width:19.98%}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column{width:100%}.oldie#ac-globalfooter .ac-gf-directory.with-5-columns .ac-gf-directory-column{width:99.9%}}#ac-globalfooter .ac-gf-breadcrumbs+.ac-gf-directory{padding-top:2px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-breadcrumbs+.ac-gf-directory{padding-top:0}}#ac-globalfooter .ac-gf-footer{color:#999;padding:20px 0 24px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-footer{padding:20px 0}}.ac-theme-dark #ac-globalfooter .ac-gf-footer,.ac-globalfooter-dark#ac-globalfooter .ac-gf-footer{color:#666}#ac-globalfooter .ac-gf-footer-shop{border-bottom:1px solid #e3e3e3;padding-bottom:5px;margin-bottom:6px}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-footer-shop{border-bottom:none;padding-bottom:6px}}.ac-theme-dark #ac-globalfooter .ac-gf-footer-shop,.ac-globalfooter-dark#ac-globalfooter .ac-gf-footer-shop{border-color:#333}#ac-globalfooter .ac-gf-footer-shop a{color:#08c}.ac-theme-dark #ac-globalfooter .ac-gf-footer-shop a,.ac-globalfooter-dark#ac-globalfooter .ac-gf-footer-shop a{color:#5cc3f6}#ac-globalfooter .ac-gf-footer-shop .nowrap{white-space:nowrap}#ac-globalfooter .ac-gf-footer-locale{float:right;white-space:nowrap}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-footer-locale{float:none;position:relative;left:-1px}}#ac-globalfooter .ac-gf-footer-locale-link{display:inline}#ac-globalfooter .ac-gf-footer-locale-flag{background-repeat:no-repeat;background-size:16px 16px;height:16px;width:16px;background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/footer/country/flag_large.png");float:left;margin:1px 5px 0 0;cursor:pointer}@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 144), (min-resolution: 144dppx){#ac-globalfooter .ac-gf-footer-locale-flag{background-image:url("http://images.apple.com/ac/globalfooter/2.0/en_US/images/ac-globalfooter/globalfooter/footer/country/flag_large_2x.png")}}#ac-globalfooter .ac-gf-footer-locale-lang{padding-left:12px;border-left:1px solid #d6d6d6;margin-left:10px}#ac-globalfooter .ac-gf-footer-legal:before,#ac-globalfooter .ac-gf-footer-legal:after{content:' ';display:table}#ac-globalfooter .ac-gf-footer-legal:after{clear:both}.oldie#ac-globalfooter .ac-gf-footer-legal{zoom:1}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-footer-legal{padding-top:13px}}#ac-globalfooter .ac-gf-footer-legal-copyright,#ac-globalfooter .ac-gf-footer-legal-links{margin-right:26px;float:left}@media only screen and (max-width: 767px){#ac-globalfooter .ac-gf-footer-legal-copyright,#ac-globalfooter .ac-gf-footer-legal-links{margin-right:0;float:none}}#ac-globalfooter .ac-gf-footer-legal-copyright{white-space:nowrap}#ac-globalfooter .ac-gf-footer-legal-link{border-right:1px solid #d6d6d6;margin-right:10px;padding-right:12px;white-space:nowrap}.ac-theme-dark #ac-globalfooter .ac-gf-footer-legal-link,.ac-globalfooter-dark#ac-globalfooter .ac-gf-footer-legal-link{border-color:#444}#ac-globalfooter .ac-gf-footer-legal-link:last-child{border:none;margin:0;padding:0}.oldie#ac-globalfooter .ac-gf-footer-legal-link{border-right:none;border-left:1px solid #d6d6d6;margin:0 0 0 10px;padding:0 0 0 12px}.oldie#ac-globalfooter .ac-gf-footer-legal-link:first-child{border:none;margin:0;padding:0}